/*FOOTER*/
.footer{
  background-color:  $footer-hero-color;
}

.footer .container{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: nowrap;
      }
  }

  .content-link{
    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }

    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
      text-align: center;
  }
    @media screen and (min-width: 1200px) {
       margin-right: 70px;
       }
  }
  
  .content-link > a{
  
    margin-bottom: 20px;
  }


  /*Адрес+контакты*/

  
  .info li + li{
    margin-top: 9px;
  }

.info__address{
  color:  $main-title-color;
  font-style: normal;
  font-weight:$second-weight;
  font-size:  $basic-size;
  line-height: $third-height;
}
.info__mail-tel{
  color: $contact-color;
  font-style: normal;
  font-size:  $basic-size;
  line-height: $third-height;
}


/*Присоединяйтесь*/

  
  .social-footer{
    display: flex;
    justify-content: center;
  }
  
  .social-footer li + li{
    margin-left: 10px;
  }
  .social-footer__link {
    width: 44px;
    height: 44px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: $social-link-footer-background ;
    border-radius: 50px;

    &:hover,
    &:focus{
      background-color:  $accent-color;
    }
  }

  .social-footer__icon{
    fill: $main-title-color;
  }
  
  
  /*Подписка на рассылк*/

  .invoke-social{
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
      text-align: center;
  }

    @media screen and (min-width:1200px) {
      margin-right: 93px;
      margin-bottom: 0;
  }
}

.invoke{
      margin-top: 0;
      margin-bottom: 20px;
     
      color: $main-title-color;
      font-weight:$basic-weight;
      font-size:  $basic-size;
      line-height:$secondary-height;
      text-transform: uppercase;
}

.form{
  @media screen and (max-width: 1199px) {
    text-align: center;
}
}
 
.form-footer{
  @media screen and (min-width: 1200px){
    display: flex;
    align-items: center;
}
}
.form-footer__input{

    color:$main-title-color;
    padding-left: 15px; 
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background:$footer-hero-color;

   @media screen and (max-width: 479px) {
      width: 100%
    }
    
    @media screen and (max-width: 1199px){
      margin-bottom: 20px;
  }
    @media screen and (min-width:1200px) {
      width: 358px;
      margin-right:12px;

  }

  }
  
  
  .icon-send{
    margin-left: 10px;
  }
    
