/* HEADER */
.header{
    padding-top: 24px;
    border-bottom: 1px solid  $border-bottom-color; 
  } 
  
  .header-main{
    display: flex;
    align-items: center;
  }
  .menu-nav{
    display: flex;
  }
  .menu-nav > a{
    margin-right: 93px;
  } 
  
   
  /*site-nav list*/
  .site-nav{
    display: flex;
    
  }
  .site-nav li + li{
  margin-left: 50px ;
  }
  
  .site-nav__link{
    position: relative;

    padding-top: 8px; 
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: $main-title-color;
    font-weight: $subsidiary-weight;
    font-size:  $basic-size;
    line-height: $secondary-height;
    letter-spacing: 0.02em;

     &.current::after{
       position: absolute;
       left: 0;
       bottom: 0;
     
       content: "";
       display: block;
       opacity: 0;
     
       transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
       width: 100%;
       height: 4px;
       
       background-color: $accent-color;
       border-radius: 2px;
     }

     &:hover::after,
     &:active::after,
     &.current::after{
       opacity: 1;
     }
  }
  
  
  .site-nav__link:hover,
  .site-nav__link:active,
  .site-nav__link.current{
    color: $accent-color;
  }
  
  /*auth-nav list*/
  .auth-nav{
    display: flex;
    margin-left: auto;
    
  }
  .auth-nav li + li{
    margin-left: 50px;
  }
  .auth-nav__contact {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    padding-top: 8px;
    padding-bottom: 32px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    color: $text-color;
    font-weight:$subsidiary;
    font-size:  $basic-size;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:hover,
    &:focus{
    color: $accent-color;
    }
  } 

  .envelope{
    margin-right: 10px;
    fill: currentColor;
  }

  .smartphone{
    margin-right: 10px;
    fill: currentColor;
  }
