.section-title{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .advantage{
    @media screen and(min-width:768px) {
      display: flex;
      flex-wrap: wrap;
  }

  }
   
  
  
  .advantage li{
   min-width: width 450px; ;

   @media screen and(max-width: 767px) {
        &:not(:last-child) {
          margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: 354px;
      margin-bottom: 30px;

      &:nth-last-child(-n + 2){
          margin-bottom: 0;
      }
      &:nth-child(2n + 1){
          margin-right: 30px;
      }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 270px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

}
  
  .advantage__item {
    display: flex;  
  
  
    height: 120px;
    margin-bottom: 30px;
  
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:  $background-color;
  
    justify-content: center;
    align-items: center;
   }
  
  
  .advantage__small-title{
    margin-top: 0;
    margin-bottom: 9px;
  
    color: $main-text-color;
    font-weight:$basic-weight;
    font-size:  $basic-size;
    line-height: $secondary-height;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
  }
    }
  
  .advantage__secion-text{
    color:$text-color ;
    font-weight: $second-weight;
    font-size: $basic-size;
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
  }